:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .Heading {
    font-family: 'Shadows Into Light', cursive;
  }

  .Toolbar {
    border-bottom: '2px solid #e7e7e7'
  }

  .navbar-text {
    font-size: 28px;
    font-family: 'Shadows Into Light', cursive;
  }

  .map-container {
    width: 60%;
    max-width: 60%;
    height: 60vh;
    margin: auto;
  }

  @media (max-width: 768px) {
    .map-container {
      width: 90%;
      margin: auto;
      max-width: 90%;
      height: 50vh;
    }
  }
}
